<main class="index">
  <header class="masthead d-flex">                                                               <!--imagen de fondo más centrar TEXTO TITULO ACCESO-->
        <div class="container text-center my-auto">   <!--TEXTO CENTRADO-->
            <h1 style="color:hsl(34, 100%, 50%)" class="mb-1">&nbsp;&nbsp;Hojas de RutAPP</h1>
            <h3 style="color:hsla(90, 25%, 98%, 0.938)" class="mb-5">
                <em>Donde las ruedas te lleven</em>
            </h3>
            <a   class="btn btn btn-warning btn-lg" href="/signin"> <!--tE LLEVA AL ACCESO-->
            Accede
            </a>
        </div>
        <div class="overlay"></div>
    </header>

</main>