 <!--<style>
     body{
     
     background-image: url("/img/fondoConductores.jpeg");

 } 
 </style> -->

 <header class="fondocadd d-flex"> 
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/conductores/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="title" class="form-control" placeholder="Title" autofocus> 
                        </div>
                    <!--  CALENDARIO  , FALTA PONERLO EN BASE DE DATOS-->
                    <div>
                    <label for="start">Start date:</label>
                    <input type="date" id="start" name="trip-start" 
                     value="2020-12-01"
                         min="2020-01-01" max="2030-12-31">
                     <!--  DESPLEGABLE-->
                    </div>
                    <select  name="DIETAS">
                             <option selected value="0"> DIETAS </option>
                             <option value="1">SI</option>
                             <option value="2">NO</option></select>
                       </select>
                       
                       <!--  <div class="form-group">-->
                     <!--       <input type="text" name="title" class="form-control" placeholder="Title" > -->
                      <!--   </div>-->

                      <!--  <div class="form-group">-->
                   <!--         <input type="text" name="RUTA" class="form-control" placeholder="RUTA" autofocus> //RUTA-->
                      <!--  </div>  -->                      
                        
                        <div class="form-group">
                            <input type="url" name="url" class="form-control" placeholder="URL">
                        </div>
                        <div class="form-group">
                            
                            <textarea name="description" rows="2" class="form-control" placeholder="Description" input type="time"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</header>